body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:140px;
  width:1148px;
  height:287px;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:143px;
  height:40px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:443px;
  height:40px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:9px;
  width:441px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:0px;
  width:273px;
  height:40px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:9px;
  width:271px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:9px;
  width:215px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:72px;
  height:40px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:40px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:40px;
  width:443px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:441px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:40px;
  width:273px;
  height:40px;
  color:#000000;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:40px;
  width:217px;
  height:40px;
  color:#0000FF;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:72px;
  height:40px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:80px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:80px;
  width:443px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:441px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:80px;
  width:273px;
  height:40px;
  color:#000000;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:80px;
  width:217px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:72px;
  height:40px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:120px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:120px;
  width:443px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:441px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:120px;
  width:273px;
  height:40px;
  color:#000000;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:120px;
  width:217px;
  height:40px;
  color:#0000FF;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:72px;
  height:40px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:160px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:141px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:160px;
  width:443px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:441px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:160px;
  width:273px;
  height:40px;
  color:#000000;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:160px;
  width:217px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:72px;
  height:40px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:200px;
  width:143px;
  height:40px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:200px;
  width:443px;
  height:40px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:441px;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:200px;
  width:273px;
  height:40px;
  color:#000000;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:200px;
  width:217px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:215px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:47px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:72px;
  height:47px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:47px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:240px;
  width:143px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:47px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:240px;
  width:443px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:14px;
  width:441px;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:240px;
  width:273px;
  height:47px;
  color:#000000;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:16px;
  width:271px;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:47px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:240px;
  width:217px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u282 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:22px;
  width:1148px;
  height:62px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:43px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u283_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u283.mouseOver {
}
#u283_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u283.selected {
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:43px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u284_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u284.mouseOver {
}
#u284_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u284.selected {
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:38px;
  width:38px;
  height:30px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:36px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u286_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u286.mouseOver {
}
#u286_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u286.selected {
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
