body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1251px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:131px;
  width:1205px;
  height:293px;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
  font-family:'OratorStd', 'Orator Std Medium', 'Orator Std';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:41px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:183px;
  height:41px;
  font-family:'OratorStd', 'Orator Std Medium', 'Orator Std';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:41px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:275px;
  height:41px;
  font-family:'OratorStd', 'Orator Std Medium', 'Orator Std';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:302px;
  height:41px;
  font-family:'OratorStd', 'Orator Std Medium', 'Orator Std';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:0px;
  width:164px;
  height:41px;
  font-family:'OratorStd', 'Orator Std Medium', 'Orator Std';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:41px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:0px;
  width:189px;
  height:41px;
  font-family:'OratorStd', 'Orator Std Medium', 'Orator Std';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:92px;
  height:40px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:41px;
  width:183px;
  height:40px;
  color:#1E1E1E;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:41px;
  width:275px;
  height:40px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:41px;
  width:302px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:298px;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:41px;
  width:164px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:41px;
  width:189px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:185px;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:42px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:92px;
  height:42px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:42px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:81px;
  width:183px;
  height:42px;
  color:#1E1E1E;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:179px;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:42px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:81px;
  width:275px;
  height:42px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:271px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:42px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:81px;
  width:302px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:81px;
  width:164px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:42px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:81px;
  width:189px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:92px;
  height:40px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:123px;
  width:183px;
  height:40px;
  color:#1E1E1E;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:123px;
  width:275px;
  height:40px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:123px;
  width:302px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:298px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:123px;
  width:164px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:123px;
  width:189px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:185px;
  word-wrap:break-word;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:163px;
  width:92px;
  height:40px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:163px;
  width:183px;
  height:40px;
  color:#1E1E1E;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:163px;
  width:275px;
  height:40px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:163px;
  width:302px;
  height:40px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:163px;
  width:164px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:163px;
  width:189px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:185px;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:92px;
  height:40px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:203px;
  width:183px;
  height:40px;
  color:#1E1E1E;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:203px;
  width:275px;
  height:40px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:203px;
  width:302px;
  height:40px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:203px;
  width:164px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:203px;
  width:189px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:185px;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:50px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:92px;
  height:50px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:243px;
  width:183px;
  height:50px;
  color:#1E1E1E;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:50px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:243px;
  width:275px;
  height:50px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:271px;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:50px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:243px;
  width:302px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:298px;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:243px;
  width:164px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:243px;
  width:189px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u405 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:22px;
  width:1148px;
  height:62px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:43px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u406_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u406.mouseOver {
}
#u406_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u406.selected {
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:43px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u407_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u407.mouseOver {
}
#u407_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u407.selected {
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:38px;
  width:38px;
  height:30px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
