body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:588px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u206 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:58px;
  width:661px;
  height:588px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:209px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u207_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:261px;
  width:161px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u208_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:307px;
  width:122px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:354px;
  width:122px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u210_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:400px;
  width:122px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u211_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:447px;
  width:122px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u212_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:543px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:543px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:1px 2px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u215 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:58px;
  width:661px;
  height:56px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:159px;
  width:223px;
  height:25px;
  font-family:'AdobeFangsongStd-Regular', 'Adobe Fangsong Std R', 'Adobe Fangsong Std';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:66px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
